@* @page
@model SweetShop.Pages.UpdateStockModel
@{
    ViewData["Title"] = "Update Sweets";
}

<script src="~/js/sweets.js"></script>
<table class="table" style="margin-left:30px;margin-top:30px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>In Stock(kg)</th>
            <th>Price(per kg)</th>
            <th>Action</th>
            <th>ImageURL(Optional)</th>
            <th>Manage Stock(kg)</th>
            <th>Current Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sweet in Model.Sweets)
        {
            <tr>
                <form method="post">
                    <input type="hidden" name="id" value="@sweet.Id" asp-for="NewSweet.Id" />
                    <td>@sweet.Id</td>
                    <td><input type="text" class="form-control" asp-for="@sweet.Name"  readonly/></td>
                    <td><input type="text" class="form-control" asp-for="@sweet.Stock" readonly/></td>
                    <td><input type="number" class="form-control" asp-for="@sweet.Price" readonly/></td>
                    <td><button class="btn btn-success" asp-page-handler="Remove">Remove</button></td>
                    <td>
                            @if (!string.IsNullOrEmpty(sweet.ImageUrl))
                            {
                            <img src="@sweet.ImageUrl" alt="@sweet.Name" style="width: 60px; height: 30px;" />
                            }
                            else
                            {
                            <img src="~/images/milksweet.jpeg" alt="Default Image" style="width: 60px; height: 30px;" />
                            }
                    </td>
                    <td><input type="number" class="form-control" name="addStock" placeholder="Add/Sub Stock" /></td>
                    <td><input type="number" class="form-control" name="currPrice" placeholder="Current Price" min="1"/></td>
                    <td><button class="btn btn-success" asp-page-handler="Update">Update</button></td>
                </form>
            </tr>
        }
        <tr>
            <form method="post">
                <td></td>
                <td><input type="text" class="form-control" asp-for="NewSweet.Name" /></td>
                <td><input type="text" class="form-control" asp-for="NewSweet.Stock" /></td>
                <td><input type="number" class="form-control" asp-for="NewSweet.Price" /></td>
                <td>
                    <button class="btn btn-success" asp-page-handler="AddSweet">Add</button>
                </td>
                <td><input type="text" class="form-control" asp-for="NewSweet.ImageUrl" /></td>
            </form>
        </tr>
    </tbody>
</table>
 *@